/* ****************922*****Individual************************ */
@media screen and (max-width:922px){
   
    .data-resp {
        width: 180px;
    }
    .data-title p,
    .data-resp p {
        font-size: 1.5em;    
    }
    .thumbs .mini:nth-child(even){
        display: none;
    }
    .name{
        letter-spacing: 1px;
    }
    .mayor p,
    .menor p {
    font-size: 3.5em;
    }
}

/* ****************903**************************************************** */
 @media screen and (max-width:903px){
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }

 }

 /* **********  768  *************** *******************************/
@media screen and (max-width:769px){    
    .main{
        width: 95%;
    }
    .descripcion p{
        font-size: 1em;    
    }
    .guia-virtual{
        font-size: 2.4em;
        letter-spacing: 2px;
    }
    
    
    nav ul li a {
        font-size: 2.2em;
        line-height: 1.4em;
    }
  
    .galeria {
        padding: 10px;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 10px;
        
        }

    .name{
        font-size: 1.2em;
        line-height: 1.8em;
        letter-spacing: 1px;
    }
    .derechos p {
        font-size: 1.2em;
    }
    .data-resp {
        width: 120px;
    }
    .descripcion-personal h3{
        font-size: 3.5em;
    }
    .descripcion-personal p {
        font-size: 1.8em;
    }
    .gallery{
        padding: 5px;
    }     
   form{
       padding: 20px 10px;
   }
   .btn-contacto{
    margin: 5px auto;
}
}
 
/* ***  *****  670  *****   ******* *******************************/
@media screen and (max-width:671px){
    .mayor p,
    .menor p{
        font-size: 2.5em;
    }
    .btn-index{
        font-size: 1.8em;
    }
 
}
 
/* ***  *****  540  *****   ******* *******************************/
@media screen and ( max-width:541px){
    .mayor button {
        color: rgb(0, 183, 0);
    }
    .descripcion p{
        margin: 0 0;
        font-size: 1.2em;
    }
    .descripcion p:nth-child(4),
    .descripcion p:nth-child(5){
        display: none;
    }
    .guia-virtual{
        font-size: 2em;
        letter-spacing: 1px;
        
    }
    nav{
        border-bottom: 4px solid #a40ea3; 
    }
    nav ul li {
        margin: 0 2.5em;
        padding: 0 5px;
        box-shadow: none;
        line-height: none;
   }
   nav ul li:hover{
    box-shadow: inset 0 0 5px rgb(117, 4, 130);
}
    nav ul li a {
        font-size: 2em;
        letter-spacing: 2px;
    }
    .minicontent{
        border-top: 4px solid #fff ;
        border-bottom: 4px solid #fff ;
        background-color: #d51e92;
    }
    .thumbs{
       border-top: 3px  dashed #76c476;
       border-bottom: 3px dashed #76c476;
   }
   @keyframes changeColor {
    0%{}
    100%{
        border-top: 3px  dotted rgb(0, 255, 234);
        border-bottom: 3px dotted  rgb(0, 255, 234);;
  
    }
}
   .mini{
        width: 50px;
        height: 50px;
        margin: 0 2px;
        padding: 2px 0 ;
   }
   .opciones-nombre{
    max-height: 300px;
   }
    .nav-busqueda{
    font-size: 1.1em;
}
    .derechos p {
        font-size: 1em;
    }

    .data-title p,
    .data-resp p{
        margin: 15px 5px ;
        font-size: 1.2em;
    }

    .data-resp {
        width: 110px;
    }
    .vertical{
        margin: 0 5px ;
    }
    .descripcion-personal h3{
        font-size: 3em;
    }
    .descripcion-personal p {
        font-size: 1.5em;
    }
    .gallery{
        padding: 5px;
    }
    .aviso,
    .bienvenida p,
    .warning p,
    .borde p{
        font-size: 1.2em;
    }

    form{
        width: 80%;
    }
    label{
        font-size: 2em;
    }
    input{
        font-weight: 400;
    }
    textarea{
        height: 60px;
    }
}
/* **********  500  *************** *******************************/
@media screen and (max-width:500px){
    body::-webkit-scrollbar{
        width: 8px;
        background-image: linear-gradient(#a40ea3,#442255);
       }
       
       body::-webkit-scrollbar-thumb{
         border-radius: 10px;
         background-image:linear-gradient(#e7193c, #a40e4c) ;
     }

    .main{
        width: 100%;
    }

    .container{
         display: block;   
        }
        .data{
            width: 100%;
            justify-content: center;
            padding:5px 20px;
        }
        .data-resp {
            display: block;
            width: 100%;    
    }
    .vertical{
       display: none;
   }
    .data-title p,
    .data-resp p{
        margin: 15px 5px ;
        font-size: 1.5em;
    }
    .descripcion-personal {
        width: 90%;
    }
    .descripcion-personal p {

        box-shadow:inset 0 0 12px rgb(177, 131, 79);
        padding: 10px;
    }

    .name{
        letter-spacing: .2px;
    }

    .fa-circle-chevron-up{
        font-size: 1.7em;
    }
    .modal-foto{
        width: 100vw;
        height: 100%;
    }
    .bienvenida p ,
    .warning p,
    .borde p {
        font-size: 1.6em;
      
    }
    .aclaracion p {
        font-size: 1em;
    }
    .aviso-index{
        font-size: 2em;
    }
    .mayor p,
    .menor p {
        font-size: 2em;
    }
    .btn-index{
        font-size: 1.5em;
    }
}
/* **********  425  *************** *******************************/
@media screen and (max-width:426px){
    .descripcion p{
        margin: 0 0;
        font-size: 1em;
    }
 
    .close,
    .previous,
    .next{
        font-size: 2em;
    }
    .close{
        top: 2%;
        left: 2%;
    }
    form {
        padding: 10px;
    }
  .form{
      width: 80%;
  }
    .guia-virtual{
        font-size: 2.2em; 
    }
    .ingreso{
        flex-direction: column;
    }
    .mayor p ,
    .menor p {
        font-size: 2.5em;
    }
    .mayor {
        margin-bottom: 15%;
    }
    .btn-index{ 
        padding: 10px;
        font-size: 2em;
    }
    footer {
        font-size: 1em;
     
    }
}
/* ***  *****  414  *****   ******* *******************************/
@media screen and (max-width:415px){
    .descripcion p{
        margin: 0 0;
    }
    .guia-virtual{
        font-size: 1.6em;
    }
    nav ul li {
        margin: 0 1em;
    }
    nav ul li a {
        font-size: 1.5em;
    }
    .mini{
        width: 40px;
        height: 40px;
        margin: 0 2px;
        padding: 2px 0 ;
    }
    .galeria {
        grid-template-columns: repeat(3,1fr);
    }   
    .derechos p {
        font-size: .8em;
    }
 
    .fa-circle-chevron-up{
        font-size: 1.6em;
    }
    .whats-logo img{
        width: 80px;
    }
}
/* ***  *****  388  *****   ******* *******************************/
@media screen and (max-width:388px) {
    .descripcion p {
        margin: 0 0;
        font-size: .9em;
    }
    .galeria {
        grid-template-columns: repeat(2,1fr);
    }
}
/* ***  *****  360  *****   ******* *******************************/
@media screen and (max-width:361px){
    .guia-virtual{
        font-size: 1.4em;
    }
    .modal-foto{
         width: 100%;
         height: 100%;
    }
    form{
        width: 100%;
    }
    .form {
        width: 95%;
    }
}
/* ***  *****  328  *****   ******* *******************************/
@media screen and (max-width:329px){
    .descripcion p {
        margin: 0 0;
    }
    .descripcion p:nth-child(6){
        display: none;
    }
    .guia-virtual{
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .mayor p ,
    .menor p {
        font-size: 2em;
    }
    .mayor {
        margin-bottom: 10%;
    }
    .btn-index{ 
        font-size: 1.5em;
    }
 
}

/* ***  *****  284  *****   ******* */
@media screen and (max-width:285px){
    .descripcion p:nth-child(3){
        display: none;
    }
  
    .mayor {
        margin-bottom: 10%;
    }
    .btn-index{ 
        font-size: 1.2em;
    }

}
/* ***  *****  235  *****   ******* */
@media screen and (max-width:236px){
    nav ul li {
        margin: 0 .5em;
    }
    nav ul li a {
        font-size: 1.2em;
    }
   .thumbs .mini:nth-child(even){
       display: none;
   }
   .derechos p {
    font-size: .7em;
   }
   .name{
       letter-spacing: .5px;
   }
   .bienvenida p ,
   .warning p,
   .borde p {
       font-size: 1.2em;
   }
   .aviso-index{
    font-size: 1.6em;
   }
}
 

/* **************1440************************** */
@media screen and (min-width:1440px){
    .descripcion p {
        margin: 2px 5px;
        font-size: 2em;
    }
    .guia-virtual{
     font-size: 3.2em;
    }

    nav ul li a {
     font-size: 3em;
    }

    .data{
        margin: 0 20px;
    }

    .data-title p , 
    .data-resp p , 
    .whats-logo {
    margin: 15px ;
    font-size: 2.2em;
    }
    .descripcion-personal h3{
        margin-bottom: 20px ;
        font-size: 4.8em;
    }
    .descripcion-personal p{
        font-size: 2.2em;
    }
    .whats-logo img{
        width: 120px;
    }
    .name{  
        font-size: 2em;
    }

    .nav-busqueda{
        font-size: 2em;
    }
    /* *****INDEX******* */
    p{
        font-size: 3em;
        
 
    }
    .aclaracion p {
        font-size: 2em;
    }
    .aviso-index{
        font-size: 4.5em;
    }
    .mayor p,
    .menor p {
    font-size: 4.5em;
    }
    .btn-index{
        font-size: 3em;
    }
    .derechos p {
        font-size: 3em;
    }
        /* *****CONTACTO******* */
      .aviso p {
          font-size: 2em;
      }
      .aviso-contacto {
          font-size: 3em;
      }
   
    .form{
        width: 85%;
    }
    label{
        font-size: 4em;
    }

    input {
        height: 50px;
        font-size: 2em;
    }
    textarea{
        font-size: 2em;
    }
    .btn-contacto{
        height: 55px;
        font-size: 3.2em;

    }
}

/* **************1920************************** */
@media screen and (min-width:1920px){
    .descripcion p {
        font-size: 3em;
    }
    .guia-virtual {
     font-size: 4.2em;
    }
    nav ul li a {
     font-size: 3.8em;
    }

    .data{
        margin: 10px 40px;
        width: 900px;
    }

    .data-title p , 
    .data-resp p , 
    .whats-logo {
    margin: 25px ;
    font-size: 3.2em;
    }
    .descripcion-personal h3{
        margin-bottom: 20px ;
        font-size: 4.8em;
    }
    .descripcion-personal p{
        font-size: 3.4em;
    }
    .whats-logo img{
        width: 120px;
    }

    .whats-logo img{
        width: 180px;
    }
    .derechos p{
        font-size: 2.2em;
        line-height: 1.2em;
    }
    .name{  
        font-size: 3em;
    }
    .nav-busqueda{
        font-size: 3.5em;        
    }


       /* *****INDEX******* */
       p{
        font-size: 4em;
    }
    .aclaracion p {
        font-size: 3em;
    }
    .aviso-index{
        font-size: 5.5em;
    }
    .mayor p,
    .menor p {
    font-size: 5.5em;
    }
    .btn-index{
        font-size: 4em;
    }
    .derechos p {
        font-size: 4em;
    }
       /* *****CONTACTO******* */
       nav ul li {
        margin: 0 5em;
    }
 
    label{
      font-size: 6em;
    }

     input {
      height: 60px;
      font-size: 3em;
    }
    textarea{
      font-size: 3em;
    }
  .btn-contacto{
      height: 65px;
      font-size: 4em;
   }
  
}
/* **************2560************************** */
@media screen and (min-width:2560px){
    .descripcion p {
        font-size: 4em;
    }
    .guia-virtual    {
     font-size: 8em;
    }
    nav ul li a {
     font-size: 8.8em;
    }

    .data{
        margin: 10px 40px;
        width: 1200px;
    }

    .data-title p , 
    .data-resp p , 
    .whats-logo {
    margin: 45px 25px ;
    font-size: 4.2em;
    }
    .descripcion-personal h3{
        margin-bottom: 20px ;
        font-size: 10em;
         
    }
    .descripcion-personal p{
        font-size: 4.8em;
    }
    .whats-logo img{
        width: 150px;
    }
  
    .whats-logo img{
        width: 180px;
    }
    .derechos p{
        font-size: 2.2em;
        line-height: 1.2em;
    }
    .name{  
        font-size: 3.5em;
    }
         /* *****INDEX******* */
         p{
            font-size: 5em;
        }
        .aclaracion p {
            font-size: 4em;
           
        }
        .aviso-index{
            font-size: 6.5em;
        }
        .mayor p,
        .menor p {
        font-size: 6.5em;
        }
        .btn-index{
            font-size: 5em;
        }
        .derechos p {
            font-size: 4.5em;
        }
             /* *****CONTACTO******* */
        .aviso-contacto {
            font-size: 4em;
        }
        .aviso p {
            font-size: 2.5em;
        }
        label{
      font-size: 6em;
    }

     input {
      height: 60px;
      font-size: 3em;
    }
    textarea{
      font-size: 3em;
    }
  .btn-contacto{
      height: 65px;
      font-size: 4em;
   }
 
   input {
    height: 80px;
    font-size: 3.5em;
    padding-left: 15px;
  }
  textarea{
    height: 200px ;
    padding-left: 15px;
    font-size: 3.5em;
  }
.btn-contacto{
    height: 100px;
    font-size: 5em;
 }
}

 